In [ ]:
## Introduction  
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
### Some of the popular languages that Data Scientists use are:  
1. Python  
2. R  
3. SQL  
4. Julia  
5. Java

In [ ]:
### Some of the commonly used libraries used by Data Scientists include:  
1. NumPy  
2. pandas  
3. Matplotlib  
4. scikit-learn  
5. TensorFlow

In [ ]:
### Data Science Tools  
| Data Science Tools |  
|--------------------|  
| Jupyter Notebooks  |  
| RStudio            |  
| Apache Spark       |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to multiply then add integers  
result = (3 * 4) + 5  
result

17

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [2]:
# This will convert 200 minutes to hours by dividing by 60  
minutes = 200  
hours = minutes / 60  
hours

3.3333333333333335

In [ ]:
**Objectives:**  
- List popular languages for Data Science.  
- Describe commonly used libraries for Data Science.  
- Demonstrate examples of arithmetic operations in Python.  
- Showcase a table of popular tools used in Data Science.

In [ ]:
## Author  
Mohamed Ali